<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.plugin.accountaff.ReportingAccountAffiliationsPlugin</class>
    <name>Reporting Account Affiliations</name>
    <description>This plugin implements the 'Reporting Account Affiliations' specification for Openfire to report to other entities the relationship that it has with a user on its domain.</description>
    <author>Guus der Kinderen</author>
    <version>${project.version}</version>
    <date>2023-11-21</date>
    <minServerVersion>4.0.0</minServerVersion>
</plugin>
